.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #f3f2ee;
  font-family: Raleway, sans-serif;
}

.column {
  display: -ms-grid;
  display: grid;
  padding-bottom: 315px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container {
  margin-bottom: 0px;
  padding-right: 0px;
}

.navigator-div {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px 30px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container-2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.container-3 {
  display: inline-block;
  padding-bottom: 4px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding-top: 21%;
  padding-right: 0px;
  padding-left: 0px;
}

.columns-2 {
  padding-bottom: 97px;
}

.column-2 {
  display: block;
  padding: 0px 0px 0px 185px;
}

.columns-3 {
  padding-bottom: 0px;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 0%;
  padding-left: 20px;
}

.column-4 {
  padding: 86px 170px 0% 0px;
  font-size: 100%;
}

.heading {
  display: block;
  padding-right: 300px;
  padding-left: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Just Me Again Down Here', sans-serif;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
}

.title-div {
  display: block;
  padding-right: 213%;
  padding-bottom: 100px;
  padding-left: 0%;
}

.heading-2 {
  font-family: 'Just Me Again Down Here', sans-serif;
  font-size: 100px;
  font-weight: 400;
}

.text-span {
  display: block;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-2 {
  margin-top: -60px;
  padding-top: 100px;
  padding-right: 65%;
}

.title-div-block {
  display: block;
  max-height: none;
  padding-top: 0px;
  padding-bottom: 201px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.amigos-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Just Me Again Down Here', sans-serif;
  font-size: 100px;
  font-weight: 400;
}

.text-block {
  padding-top: 0px;
}

.normal-text-style {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 30px;
}

.login-div-block {
  position: relative;
  display: block;
  padding-right: 80px;
  padding-bottom: 0px;
}

.heading-3 {
  font-size: 20px;
}

.heading-4 {
  margin-top: 30px;
  font-size: 20px;
}

.field-label {
  font-weight: 500;
}

.submit-button {
  border: 1px none #000;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2fa), to(#bbf6ff));
  background-image: linear-gradient(90deg, #65e2fa, #bbf6ff);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.heading-5 {
  margin-right: 90%;
  padding-right: 0px;
  font-family: 'Just Me Again Down Here', sans-serif;
  font-weight: 400;
}

.link-block {
  padding-right: 112px;
  padding-bottom: 57px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.heading-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.container-5 {
  display: block;
  padding: 0px 543px 100px 100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.container-6 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container-7 {
  display: block;
  max-width: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block-3 {
  margin-right: 46px;
  padding-right: 0px;
  padding-bottom: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block-4 {
  margin-right: 93%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-5 {
  margin-left: 976px;
}

.heading-8 {
  padding-right: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Just Me Again Down Here', sans-serif;
  font-size: 20px;
}

.heading-9 {
  font-family: 'Just Me Again Down Here', sans-serif;
  font-size: 20px;
}

.button {
  margin-left: 0px;
  border: 1px none transparent;
  background-color: transparent;
  opacity: 1;
  font-family: 'Just Me Again Down Here', sans-serif;
  color: #333;
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
}

.button-2 {
  background-color: transparent;
  font-family: 'Just Me Again Down Here', sans-serif;
  color: #333;
  font-size: 25px;
  line-height: 44px;
  font-weight: 400;
}

.button-2.w--current {
  font-size: 25px;
  line-height: 40px;
}

.text-field {
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: transparent transparent #000;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.image {
  -o-object-fit: fill;
  object-fit: fill;
}

.submit-button-2 {
  margin-top: 15px;
  margin-left: 5px;
  padding-right: 20px;
  padding-left: 25px;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#fdff8b), to(#fdfed9));
  background-image: linear-gradient(90deg, #fdff8b, #fdfed9);
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.image-2 {
  position: fixed;
}

.link-block-2 {
  position: static;
  right: 472px;
  bottom: 401px;
}

.link-block-3 {
  position: absolute;
}

.field-label-2 {
  font-size: 30px;
}

.field-label-3 {
  font-size: 20px;
}

.field-label-4 {
  position: relative;
  bottom: 5px;
  font-size: 20px;
}

.text-field-2 {
  width: 200px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 94.8%, 0.87);
  opacity: 1;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  text-align: center;
}

.text-block-2 {
  padding-bottom: 6px;
  padding-left: 10px;
}

.text-field-2-copy {
  position: static;
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  margin-left: 0px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 94.8%, 0.87);
  opacity: 1;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  text-align: center;
}

.text-block-3 {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block-2-copy {
  position: relative;
  display: block;
  margin-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-2-copy-copy {
  position: relative;
  left: 225px;
  bottom: 25px;
  display: block;
  margin-right: 300px;
  padding-bottom: 6px;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-4 {
  position: static;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: inline-block;
  margin-right: 432px;
  padding-right: 0px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-5 {
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-field-3 {
  max-width: 300px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
}

.form {
  margin-right: 226px;
}

.div-block-6 {
  position: relative;
  top: 80px;
  display: block;
  margin-right: 365px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-3 {
  position: static;
  left: 82px;
}

.button-3 {
  background-color: transparent;
}

.image-4 {
  position: relative;
  top: 78px;
}

.image-5 {
  position: relative;
  left: -350px;
  top: -20px;
}

.submit-button-2-copy {
  margin-top: 15px;
  margin-left: 5px;
  padding-right: 20px;
  padding-left: 25px;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(20%, #141414), color-stop(53%, #6c6c6c), to(#fff));
  background-image: linear-gradient(180deg, #000, #141414 20%, #6c6c6c 53%, #fff);
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.submit-button-2-copy {
  margin-top: 15px;
  margin-left: 5px;
  padding-right: 20px;
  padding-left: 25px;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: transparent;
  background-image: none;
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.submit-button-2-copy {
  margin-top: 15px;
  margin-left: 5px;
  padding-right: 20px;
  padding-left: 25px;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#fdff8b), to(#fdfed9));
  background-image: linear-gradient(90deg, #fdff8b, #fdfed9);
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.login-div-block-copy {
  position: relative;
  display: block;
  padding-right: 80px;
  padding-bottom: 0px;
}

.submit-button-3 {
  border-radius: 15px;
}

.submit-button-4 {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a73e9), to(#6c92f4));
  background-image: linear-gradient(90deg, #1a73e9, #6c92f4);
}

.image-6 {
  position: relative;
  left: -16px;
}

.button-4 {
  position: static;
  left: 93px;
  bottom: 53px;
  margin-top: 0px;
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#30f683), to(#c1eed4));
  background-image: linear-gradient(90deg, #30f683, #c1eed4);
  color: #000;
}

.image-7 {
  position: static;
  left: 802px;
  display: block;
  margin-left: 227px;
  padding-top: 13px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-8 {
  margin-top: 11px;
  margin-left: 0px;
}

.div-block-7 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-9 {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  margin-top: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.form-2 {
  margin-right: -42px;
  padding-top: 20%;
  padding-right: 0px;
  padding-left: 0px;
}

.normal-text-style-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -25px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 30px;
}

.grid {
  margin-top: 30px;
  grid-auto-flow: column dense;
  grid-column-gap: 0px;
  grid-row-gap: 35px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: minmax(230px, 1fr) minmax(230px, 1fr);
  grid-template-rows: minmax(230px, 1fr) minmax(230px, 1fr);
  border-style: none solid none none;
  border-width: 1px 0px 1px 1px;
  border-color: #000;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.div-block-8 {
  padding-right: 237px;
  padding-bottom: 104px;
}

.image-10 {
  padding-bottom: 0px;
}

.profile-pic {
  position: static;
  left: -17px;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: 20px;
  padding-left: 0px;
  float: none;
  border-radius: 50px;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-for-match-1 {
  margin-top: 0px;
  margin-left: 10px;
  border: 1px none #000;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.match-1-info-grid {
  margin-left: 25px;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  -ms-grid-rows: minmax(0px, 1fr) auto auto auto;
  grid-template-rows: minmax(0px, 1fr) auto auto auto;
}

.grid-4 {
  grid-column-gap: 5px;
  grid-row-gap: 4px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.username {
  display: inline;
  overflow: visible;
  margin-top: 10px;
  padding-top: 0px;
  padding-left: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.match-2-pic {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: 20px;
  padding-left: 0px;
  float: none;
  border-radius: 50px;
  -o-object-fit: fill;
  object-fit: fill;
}

.match-2-username {
  display: inline-block;
  margin-top: 10px;
  padding-left: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.match-2-info-grid {
  margin-left: 25px;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  -ms-grid-rows: minmax(0px, 1fr) auto auto auto;
  grid-template-rows: minmax(0px, 1fr) auto auto auto;
}

.div-for-match-2 {
  margin-left: 20px;
  padding-top: 0px;
}

.div-for-match-3 {
  padding-right: 10px;
}

.match-3-pic {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: 20px;
  padding-left: 0px;
  float: none;
  border-radius: 50px;
  -o-object-fit: fill;
  object-fit: fill;
}

.match-3-username {
  display: inline-block;
  margin-top: 10px;
  padding-left: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.match-3-info-grid {
  margin-left: 25px;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  -ms-grid-rows: minmax(0px, 1fr) auto auto auto;
  grid-template-rows: minmax(0px, 1fr) auto auto auto;
}

.div-for-match-4 {
  padding-right: 10px;
}

.match-4-pic {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: 20px;
  padding-left: 0px;
  float: none;
  border-radius: 50px;
  -o-object-fit: fill;
  object-fit: fill;
}

.match-4-username {
  display: inline-block;
  margin-top: 10px;
  padding-left: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.match-4-info-grid {
  margin-left: 25px;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  -ms-grid-rows: minmax(0px, 1fr) auto auto auto;
  grid-template-rows: minmax(0px, 1fr) auto auto auto;
}

.div-block-9 {
  padding-bottom: 55px;
}

.div-block-10 {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
}

.profile {
  margin-left: 10px;
  padding: 10px 50px 10px 20px;
  border-radius: 5px;
  background-color: #e9e9e9;
  background-image: url('../images/account.png');
  background-position: 90% 50%;
  background-size: 30%;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  color: #0f0e0e;
  font-weight: 500;
}

.bold-text {
  color: #1d1818;
}

.home {
  margin-left: 40px;
  padding-right: 50px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #e9e9e9;
  background-image: url('../images/Home.png');
  background-position: 80% 35%;
  background-size: 25px;
  background-repeat: no-repeat;
  color: #0f0e0e;
  font-weight: 500;
}

.match-pool {
  margin-left: 10px;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  background-color: #e9e9e9;
  background-image: url('../images/match-pool-icon.png');
  background-position: 90% 50%;
  background-size: 15%;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  color: #0f0e0e;
  font-weight: 500;
}

.match-pool-copy {
  margin-left: 10px;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  background-color: #e9e9e9;
  background-image: url('../images/match-pool-icon.png');
  background-position: 90% 50%;
  background-size: 15%;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  color: #0f0e0e;
  font-weight: 500;
}

.grid-5 {
  grid-row-gap: 6px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.div-for-profile-copy {
  margin-top: -50px;
  margin-left: 30%;
  padding-left: 0px;
  border: 1px none #000;
}

.profile-pic-copy {
  position: static;
  left: -17px;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: 0px;
  padding-left: 0px;
  float: none;
  border-radius: 50px;
  -o-object-fit: fill;
  object-fit: fill;
}

.button-5 {
  margin-right: 300px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a73e9), to(#6c92f4));
  background-image: linear-gradient(90deg, #1a73e9, #6c92f4);
  text-align: center;
}

.button-5-copy {
  margin-right: 300px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a73e9), to(#6c92f4));
  background-image: linear-gradient(90deg, #1a73e9, #6c92f4);
  text-align: center;
}

.button-5-copy-copy {
  margin-right: 300px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a73e9), to(#6c92f4));
  background-image: linear-gradient(90deg, #1a73e9, #6c92f4);
  text-align: center;
}

.button-5-copy-copy-copy {
  margin-right: 300px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a73e9), to(#6c92f4));
  background-image: linear-gradient(90deg, #1a73e9, #6c92f4);
  text-align: center;
}

.home-copy {
  margin-top: -10px;
  margin-left: 40px;
  padding-right: 50px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #e9e9e9;
  background-image: url('../images/Home.png');
  background-position: 80% 40%;
  background-size: 25%;
  background-repeat: no-repeat;
  color: #0f0e0e;
  font-weight: 500;
}

.div-block-11 {
  padding-top: 10px;
}

.view-matches {
  margin-left: 10px;
  padding: 10px 50px 10px 20px;
  border-radius: 5px;
  background-color: #e9e9e9;
  background-image: url('../images/Eye.png');
  background-position: 90% 50%;
  background-size: 20%;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  color: #0f0e0e;
  font-weight: 500;
}

.text-field-4 {
  margin-right: 0px;
  background-color: #f2f2f2;
}

.text-field-5 {
  background-color: #f2f2f2;
}

.form-3 {
  margin-top: 40px;
}

.field-label-5 {
  font-size: 20px;
}

.form-block {
  padding-top: 30px;
}

.heading-10 {
  display: block;
  margin-left: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.enter-course-detail {
  margin-right: -42px;
  padding-top: 0%;
  padding-right: 0px;
  padding-left: 0px;
}

.sign-out {
  margin-left: 10px;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  background-color: #e9e9e9;
  background-image: url('../images/lock.png');
  background-position: 90% 50%;
  background-size: 20%;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  color: #0f0e0e;
  font-weight: 500;
}

.heading-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 500%;
  font-weight: 500;
}

.heading-12 {
  padding-top: 20px;
  padding-right: 0px;
  font-size: 150%;
}

.image-9-copy {
  position: relative;
  left: 50%;
  top: -59px;
  right: auto;
  bottom: 0%;
  display: block;
  margin-top: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.div-block-12 {
  margin-left: -15px;
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .text-block-2-copy-copy {
    left: 225px;
  }
}

#w-node-_58ef5489-6995-c249-6e87-a6ad2f52c0b8-727523c4 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_5cc9eaae-d95c-d923-d660-28f1547a16ac-727523c4 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_9ffa7a2f-0d92-bc86-7085-ed5f5b96ba7a-727523c4 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_31c8c668-211d-b1a0-3f15-da8fdee96d9c-727523c4 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_58c50f53-e6e4-3d8b-895e-f3c4d66655ec-74ea40a1 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-e0ee71ce-ba8a-06a9-3812-cc2b04a642d6-48d27bcf {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_01c9933c-ed07-8d44-bf9a-0a0c8e82c838-7d59ff1e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_022f8e36-a97c-3f1c-9e1f-4a2e8636bc5c-8a38db31 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_58ef5489-6995-c249-6e87-a6ad2f52c0b8-2d83d0f6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_5cc9eaae-d95c-d923-d660-28f1547a16ac-2d83d0f6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_9ffa7a2f-0d92-bc86-7085-ed5f5b96ba7a-2d83d0f6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_31c8c668-211d-b1a0-3f15-da8fdee96d9c-2d83d0f6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_58c50f53-e6e4-3d8b-895e-f3c4d66655ec-cbb2641c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.form-error {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}