<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Test</title>
</head>
<body>
    <h1>Login</h1>
    <!-- This will send the POST request to /auth -->
    <form th:action="@{/auth}"
    th:object="${credentials}" method="POST">
        Username:
        <input type="text" th:field="*{username}" />    
        <br/>
        Password:
        <input type="password" th:field="*{password}" />     
        <br/>
        <!-- this is a submit button -->
        <input type="submit" value="Login" />
    </form>
</body>
</html>